name: test-recipes
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    branches:
        - main
jobs:
  unit-tests:
    name: unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: |
            cd Engine
            bun install

      - name: Run Engine unit tests
        run: bun test Engine/tests/

  test-recipes:
    name: test-recipes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      
      - name: Install dependencies
        run: |
            cd Engine
            bun install
      
      - name: Test recipes
        run: |
          export DEBUG=true
          find albums anime artists beers boardgames books food generic manga movies podcasts recipes restaurants software songs tv_shows videogames wines -name '*.test.js' | xargs bun test